<div class="news">
    <h3>Sign Up for Newsletters</h3>
    <p>Get E-mail updates about our latest shop and <span style="color: gold;">special offers .</span> </p>
</div>
<footer>
    <div class="row">
        <div class="col-md-3">
            <ul>
                <p style="font-weight: bolder;">Contact</p>
                <li>Adresse : Ouagadougou 1200 logements</li>
                <li>Telephone : +226 77 37 37 97</li>
                <li>Horaires : 08h - 19h du Lundi au Samedi</li> <br> <br>
                <p>FOLLOW Us</p>
            </ul>

        </div>
        <div class="col-md-3">
            <ul>
                <p style="font-weight: bolder;">About</p>
                <li>About Us</li>
                <li>Delivery information</li>
                <li>Terme & Conditions</li>
                <li>Contact Us</li>
            </ul>

        </div>
        <div class="col-md-3">
            <ul>
                <p style="font-weight: bolder;">My Account</p>
                <li>Sign In </li>
                <li>View cart</li>
                <li>Track my Oder</li>
                <li>Help</li>
            </ul>
        </div>
        <div class="col-md-3">
            <p style="font-weight: bolder;">Install App</p>
            <span style="text-align: center;">From App Store or Google Play</span> <br>
            <div style="display: flex; justify-content: space-between;">
                <button class="store"><i class="fa-brands fa-apple"></i> App Store</button>
                <button class="store"> <i class="fa-brands fa-google-play"></i> Google Play</button>
            </div>
            </pre>
        </div>
    </div>
    <div class="copyRight d-flex align-center justify-content-center align-items-center pt-md-10">
        <p>© 2023 SunShop . <strong>by Privat's labs</strong>. </p>
    </div>
</footer>