<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/effectuer.css">
  <title>Commande Effectuée</title>
  <script>
    function redirigerVersPagePanier() {
      // Récupérez le tableau panier depuis le localStorage
      const panier = JSON.parse(localStorage.getItem('panier')) || [];

      // Vérifie si le panier est vide
      if (panier.length === 0) {
        // Effectuez une action si le panier est vide (par exemple, redirigez vers la page du panier)
        window.location.href = '/panier';
        console.log("Le panier est vide. Redirection vers la page du panier.");
      } else {
        // Effectuez une action si le panier n'est pas vide (par exemple, affichez un message dans la console)
        console.log("Le panier n'est pas vide.");
      }
    }

    // Exemple d'utilisation
    redirigerVersPagePanier();
  </script>

</head>

<body>
  <header>
    <h1>Commande Effectuée avec Succès</h1>
  </header>
  <main>
    <section class="order-details">
      <h2>Détails de la commande</h2>
      <p>Merci pour votre commande ! Voici les détails de votre achat :</p> <br>
    </section>
    <section class="confirmation-message">
      <p style="color: rgb(9, 99, 147); font-weight: bolder;">* + 1000 CFA frais de livraison *</p>

      <p>Votre commande a été passée avec succès. Elle sera traitée dans les plus brefs délais.</p>
      <p>Un assistant vous contactera pour vous faire livrer</p>
      <p>Merci de faire confiance à SunShop !</p>
      <a onclick="retour()" class="btn-return">Retour à la Boutique</a>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 SunShop <strong>by Privat's labs</strong> </p>
  </footer>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      // Récupérer le panier depuis le localStorage
      const panier = JSON.parse(localStorage.getItem('panier')) || [];
  
      // Sélectionner l'élément HTML où vous voulez afficher les détails de la commande
      const detailsCommandeSection = document.querySelector('.order-details');
  
      // Vérifier si le panier est vide
      if (panier.length === 0) {
        detailsCommandeSection.innerHTML = '<p>Le panier est vide.</p>';
      } else {
        // Construire le contenu HTML pour les détails de la commande
        const contenuHTML = panier.map(item => `<p>${item.nom} - Prix: ${item.prix} CFA</p>`).join('');
  
        // Injecter le contenu dans la section des détails de la commande
        detailsCommandeSection.innerHTML = `
          <h2>Détails de la commande</h2>
          ${contenuHTML}
        `;
      }
    });
  
    function viderPanier() {
      // Vider le panier dans le localStorage
      localStorage.removeItem('panier');
    }
    function retour() {

        viderPanier();
      window.location.href = '/boutique'; // Modifier le chemin selon votre besoin
    }
  </script>
  

</html>