@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* ---------------burger menu -------------------  */

nav #menu{
    display: none;
    }

    
    nav .burger-menu{
        position: absolute;
        top: 0px;
        right: 0%;
        width: 70%;
        /*background-color: #ededed;*/
        backdrop-filter: blur(10px); /* Augmentez la valeur de flou selon votre préférence */
        -webkit-backdrop-filter: blur(10px); /* Pour la compatibilité avec les navigateurs WebKit */
        background-color: rgba(255, 255, 255, 0.5); 
        height: 100vh;
    }
    
    .burger-menu ul {
        margin-top: 40px;
    }
    nav #me{
        display: none;
    }
   nav #point-rouge{
      display: none !important;
   }

body {
    max-width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
body nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 7;
}

nav .brand {
    margin-right: 20%; /* Réduire la marge pour les mobiles */
    font-size: medium; /* Réduire la taille de la police pour les mobiles */
    font-weight: bolder;
    cursor: pointer;
}

body nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    list-style: none;
    margin-right:15%;
}

nav ul a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
    color: black;
}

nav #sac {
display: block;
color: grey;
font-size: 25px; /* Réduire la taille de l'icône du sac pour les mobiles */
transition: 0.3s;
margin-right: 15%;
}
nav #sac2 {
    display: none;

}
/* ICI LA BARRE DE RECHERCHE  */
#barre-top {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 490px;
    margin-right: 4%;
   }
   
   .input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: #F2B707;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
    margin-top: 25px;
   }   
   #barre-bottom {
    display: none;
   }
  nav .b
/* ICI LA BARRE DE RECHERCHE  */
nav .sac{
    display: none;
}
nav #sac:hover {
    color: #0A9EBF;
}
/* .point-rouge {
    position: relative;
  }
  
  .point-rouge::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    top: -5px;
    right: -5px;
  } */

.focus a {
    color: #0A9EBF;
    font-weight: bolder;
}

nav ul a:hover {
    color: #0A9EBF;

}

body img {
    max-width: 100px; /* Ajuster la largeur des images pour les mobiles */
}

body .hastag {
    margin-top: 20px;
    width: 100%;
    min-height: 190px;
    background: url(/img/boutique.jpg) center/cover no-repeat;
}

.hastag .overlay {
    height: 190px;
    background-color: rgba(0, 0, 0, 0.327);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem; /* Réduire la taille de la police pour les mobiles */
}
/* categories list  */

.categories-list{
  padding: 5px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  max-width: 99%;
  box-sizing: border-box;
  margin-bottom: 50px;
  padding: 0px 30px 0px 30px;

}
.categories-list .avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  box-sizing: border-box;
  min-width: auto;
  white-space: nowrap;

}

.avatar #v-text{
  font-size: 1.3rem;
  font-weight: bolder;
}
.avatar span{
  font-size: 0.9rem;
  text-align: center;

}
.categories-list .logo{
  min-height: 65px;
  min-width: 65px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* categories list  */
body .row {
    padding: 30px; /* Réduire la marge pour les mobiles */
}

.row{
  width: 100%;
  margin: 0;
}

.row .card {
    height: auto;
    width: 100%; /* Ajuster la largeur des cartes pour les mobiles */
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;  /* Ajuster l'espacement entre les cartes pour les mobiles */
    cursor: pointer;
}

.card a {
    color: grey;
    text-decoration: none;
}

.card .cardTop {
    border: 1px solid rgba(128, 128, 128, 0.16);
    border-radius: 20px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Ajuster l'espacement pour les mobiles */
}

.card .cardFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .cardFooter .fa-star {
    color: gold;
}

/* .card .cardTop img {
    max-width: 150px; /* Ajuster la largeur des images pour les mobiles */
    /* max-height: 250px; 
    height: auto;  Pour conserver les proportions 
    
  } 
    */
.card .cardTop img {
  border-radius: 11px;
  height: 135px; /* Ajuster la hauteur des images pour les mobiles */
  /* width: 170px; */
  width: auto;
}

.card .panierTonne {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgba(32, 173, 22, 0.217);
    transition: 0.3s;
}

.card .panierTonne:hover {
    background-color: rgba(32, 173, 22, 0.644);
}

.card .fa-cart-plus {
    color: rgb(6, 118, 42);
    cursor: pointer;
    transition: 0.3s;
}

.card .fa-cart-plus:hover {
    color: white;
}

body .news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 7, 76);
    padding: 20px; /* Réduire la marge pour les mobiles */
    margin-top: 190px;
    color: white;
    width: 100%;
}

body footer {
    background-color: aliceblue;
}

footer ul {
    list-style: none;
}

footer .store {
    padding: 10px;
    width: 128px;
    font-size: 0.9rem;
    border: 1px solid grey;
    border-radius: 11px;
    margin-top: 10px;
}

body li {
    cursor: pointer;
}

/* Media query pour les téléphones mobiles */
@media (max-width: 768px) {

/* -------------burger menu--------------  */
nav .burger-menu{
    height: 80vh;
    width: 80%;
    top: 0;
    right: 0;
    position: absolute;
    border-radius: 66% 34% 0% 100% / 24% 0% 100% 76%;
    transition: 0.2s ease-out;

    backdrop-filter: blur(35px); /* Ajustez la valeur de flou selon vos préférences */
    background-color: rgba(255, 255, 255, 0.665); /* Couleur de fond floue avec opacité */
    
  }
.burger-menu ul {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
  }

nav #nav-links {
    display: none;
}


body #top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 7;
}

nav #nav-links {
    display: none;
  }
  nav #me{
    display: block;
    margin-left: 15px;
}

.close {
  display: none;
  margin-left: 100px;
}
.open{
  display: block;
}
  body nav {
    padding: 8px 10px; /* Réduire la marge pour les mobiles */
  }
  #barre-top {
    display: none;
   }
  #barre-bottom {
    display: flex;
    margin-top: 9px;
    line-height: 28px;
    align-items: center;
     /* position: relative; */
    width:99%;
    margin-right: 4%;
    position: fixed;
    z-index: 2;
    top: 5;
   }
   .icon {
    margin-top: 10px;
   }   
  nav .brand {
    margin-right:40%; /* Further reduce the margin for smaller screens */
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
 }
 nav #sac{
    display: none;
 }
 nav #sac2{
    display: block;
 }
 nav ul a {
    /*  margin-bottom: 25px; Add space between navigation links */
    font-family: 'Concert One', cursive, italic;
     font-size: 1rem;
     color:  rgba(0, 0, 0, 0.668);
     margin-top: 0px;
     text-transform: uppercase;
     text-decoration: none;
     font-weight: bolder;
     font-family: 'Young Serif', serif;
     letter-spacing: 5px;
  
  }

    .hastag .overlay {
        font-size: 1.2rem; /* Ajuster la taille de la police pour les mobiles */
    }

    body .row {
        padding: 20px; /* Ajuster la marge pour les mobiles */
    }
    /* categories list  */

  .categories-list{
    padding: 5px;
    display: flex;
    overflow-x: auto;
    max-width: 99%;
    box-sizing: border-box;
    margin-bottom: 50px;
    padding: 0px 30px 0px 30px;

  }
  .categories-list .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    box-sizing: border-box;
    min-width: auto;
    white-space: nowrap;
 
  }
 
  .avatar #v-text{
    font-size: 1.3rem;
    font-weight: bolder;
  }
  .avatar span{
    font-size: 0.9rem;
    text-align: center;

  }
  .categories-list .logo{
    min-height: 65px;
    min-width: 65px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  /* categories list  */
  body {
    max-width: 100%;
    margin: 0; /* Cela centre votre contenu horizontalement */
  }
  body footer {
    padding: 0px;
}
  
.card .cardTop img {
  border-radius: 11px;
  height: 155px; /* Ajuster la hauteur des images pour les mobiles */
  /* width: 170px; */
  width: auto;
}
  @media (max-width: 700px) {
    body{
      max-width: 100%;
    margin: 0 auto; /* Cela centre votre contenu horizontalement */
    }
   
    .tabs {
      transform: scale(0.6);
    }
  }
  
 /* ici ratio */

    .row .card {
        margin-bottom: 15px;
        margin: auto;

    }

    .card .cardTop img {
        height: auto; /* Ajuster la hauteur des images pour les mobiles */
        width: 150px;
    }

    .card .panierTonne {
        height: 30px;
        width: 30px;
    }

    .card .fa-cart-plus {
        font-size: 20px; /* Ajuster la taille de l'icône pour les mobiles */
    }

    body .news {
        padding: 15px;
    }

    body footer {
        padding: 0px;
    }

    /* .point-rouge {
        position: relative;
      }
      
      .point-rouge::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
        top: -5px;
        right: -5px;
      } */
      
}
