/* styles.css */

/* Réinitialisation des styles par défaut */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #0ebf55;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 28px;
}

main {
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 50vh;
    height: auto;
    width: 80%;
    border: 1px dashed rgb(169, 164, 164);
}
section p{
    color: rgba(128, 128, 128, 0.811);
    font-family: 'Courier New', Courier, monospace;
}

.order-details {
    margin-bottom: 20px;
}
.order-details p{
    font-weight: 800;
    color: black;
}

.order-details h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

.product-list {
    list-style: none;
}

.product-list li {
    font-size: 18px;
    margin-bottom: 5px;
}

.total {
    font-size: 20px;
    margin-top: 10px;
    text-align: right;
}

.confirmation-message p {
    font-size: 18px;
    margin-bottom: 15px;
}

.btn-return {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-return:hover {
    background-color: #555;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    width: 100%;
}

/* Styles supplémentaires selon vos besoins */

/* Media query pour les téléphones mobiles */
@media (max-width: 768px) {
    h1 {
        font-size: 24px; /* Réduire la taille de la police pour les mobiles */
    }

    main {
        padding: 15px; /* Réduire la marge intérieure pour les mobiles */
    }

    .order-details h2 {
        font-size: 20px; /* Réduire la taille de la police pour les mobiles */
    }

    .product-list li {
        font-size: 16px; /* Réduire la taille de la police pour les mobiles */
    }

    .total {
        font-size: 18px; /* Réduire la taille de la police pour les mobiles */
    }

    .confirmation-message p {
        font-size: 16px; /* Réduire la taille de la police pour les mobiles */
    }

    .btn-return {
        padding: 8px 16px; /* Réduire la taille des boutons pour les mobiles */
    }
}
